{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% if user.is_authenticated and user.is_staff %}

        <div class="init-page">
            <a class="portfolio-item d-block mx-auto" href="{% url 'dataset_list' %}">
                <i class="fas fa-images"></i> DATASETS
            </a>
            <a class="portfolio-item d-block mx-auto" href="{% url 'experiment_list' %}">
                <i class="fas fa-tags"></i> EXPERIMENTOS
            </a>

        </div>

    {% elif user.is_authenticated and not user.is_staff %}
        <div class="init-page">
            <a class="portfolio-item d-block mx-auto" href="{% url 'experiment_list' %}">
                <i class="fas fa-tags"></i> EXPERIMENTOS
            </a>
        </div>
    {% endif %}

{% endblock %}