{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>TagMaker</title>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/freelancer.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="{% static "css/login.css" %}" rel="stylesheet" type="text/css">
</head>

<body>

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h1>TAGMAKER</h1>
                    <p><b>{% trans "COLLABORATIVE ANNOTATION OF IMAGES" %}</b></p>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                        <p class="error">{% trans "Username and password do not match. Please, try again." %}</p>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}"/>

                        {% for field in form %}

                            <div class="input-group form-group">

                                {% if field.html_name == 'username' %}
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="{{ field.name }}"
                                           id="{{ field.id_for_label }}" required placeholder="{% trans "User" %}">
                                {% else %}
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" name="{{ field.name }}"
                                           id="{{ field.id_for_label }}" required
                                           placeholder="{% trans "Password" %}">
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <button type="submit" class="btn float-right btn-primary">{% trans "Log in" %}</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        {% trans "First time in TagMaker?" %} <a
                            href="{% url 'sign_up' %}">{% trans "Register here" %}</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'admin:index' %}">{% trans "I am administrator" %}</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


</body>
</html>