{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'home' %}">Volver al INICIO</a>
  <h2>Experimentos</h2>
    {% if experimentos %}
        <p>Estos son los experimentos existentes</p>
        <ul>
            {% for experimento in experimentos %}
                <li><a href="{% url 'experimento' id=experimento.id %}">{{ experimento.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay experimentos definidos</p>
    {% endif %}
    <a href="{% url 'create_experimento' %}">Nuevo Experimento</a>


{% endblock %}